@import '../../utils/variables';

.title {
  background-color: $main-dark;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem 0.5rem 0 0;
  
  &__text {
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;

    @media(max-width: 940px) {
      font-size: 1.7rem;
    }

    &_center {
      text-align: center;
    }
  }
}