@import '../../utils/variables';

.btns {
  display: flex;
  align-items: center;

  @media (max-width: 700px) {
    flex-wrap: wrap;
  }

  &__btn {
    flex: 1;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background-color: $main-dark;
    padding: 1rem 0;
    transition: opacity 0.2s ease-out;
    cursor: pointer;

    @media (max-width: 700px) {
      padding: 1rem;
      flex: 1 1 auto;
      margin: 0.5rem 0 1rem 0.5rem;
    }

    &:hover {
      opacity: 0.75;
    }

    &:not(:last-child) {
      margin-right: 1rem;

      @media (max-width: 700px) {
        margin-right: unset;
      }
    }

    &_active {
      background-color: $dark-blue;
      padding: 1.5rem 0;
    }
  }
}