@import '../../utils/variables';

.user {
  border: 1px solid $main-dark;
  // width: 30rem;
  flex: 0 0 calc(33.333% - 4rem);
  background-color: #ccc;
  margin: 0 2rem 2rem 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 1300px) {
    flex: 0 0 calc(33.333% - 1rem);
    margin: 0 0.5rem 1rem 0.5rem;
  }

  @media (max-width: 800px) {
    flex: 0 0 calc(50% - 2rem);
    margin: 0 1rem 1rem 1rem;
  }

  @media (max-width: 500px) {
    flex: 0 0 calc(100% - 4rem);
    margin: 0 2rem 1rem 2rem;
  }

  @media (max-width: 300px) {
    flex: 0 0 calc(100% - 1rem);
    margin: 0 0.5rem 1rem 0.5rem;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 2rem;

    @media (max-width: 1000px) {
      padding: 1rem;
    }
  }

  &__photo {
    &_img {
      height: 6rem;
      width: 6rem;
      overflow: hidden;
      border-radius: 50%;
      border-radius: 0.2rem solid $main-dark;

      @media (max-width: 1000px) {
        height: 4.5rem;
        width: 4.5rem;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  &__friends {
    color: grey;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__mutuals {
    font-size: 1.4rem;
    color: $dark-red;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__name {
    font-size: 1.6rem;
    color: $main-dark;
    font-weight: 600;
    margin-bottom: 0.5rem;

    @media (max-width: 1000px) {
      font-size: 1.45rem;
    }
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
  }

  &__btn {
    flex: 1 0 50%;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    color: white;
    cursor: pointer;

    @media (max-width: 1000px) {
      font-size: 1.4rem;
    }

    &:hover {
      opacity: 0.75;
    }

    &_view {
      background-color: $dark-blue;
    }

    &_add {
      background-color: $main-dark;
    }

    &_msg {
      background-color: grey;
    }
  }
}