@import '../../utils/variables';

.box {
  position: fixed;
  top: 7rem;
  right: 0;
  bottom: 0;
  border-radius: 0.5rem 0 0 0.5rem;
  width: 60rem;
  z-index: 2;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media (max-width: 770px) {
    top: 5rem;
  }

  @media (max-width: 600px) {
    width: 100%;
    border-radius: 0;
  }

  &__title {
    background-color: $dark-blue;
    color: white;
    text-align: center;
    font-size: 1.75rem;
    padding: 1rem 0;
  }

  &__btns {
    background-color: rgb(147, 147, 147);
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-bottom: 1px solid $main-dark;
  }

  &__btn {
    display: block;
    margin: 0 1rem;
    flex: 0 0 calc(50% - 2rem);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 0.75rem 0;
    color: white;
    font-weight: 600;
    transition: opacity 0.2s ease-out;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }

    &_see {
      background-color: $main-dark;
    }

    &_close {
      background-color: $dark-red;
    }
  }

  &__list {
    overflow-y: auto;
    background-color: white;
    padding: 0 1rem;
    min-height: 40vh;
  }

  &__empty {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.75rem;
    font-weight: 700;
    color: $dark-red;
  }

  &__error {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.75rem;
    font-weight: 700;
    color: $dark-red;
  }
}